ceph_conf_overrides:
    global:
        osd_pool_default_pg_num: 8
        osd_pool_default_pgp_num: 8
        osd_pool_default_size: 1
    mon:
        mon_warn_on_insecure_global_id_reclaim_allowed: false
        mon_warn_on_pool_no_redundancy: false
ceph_container_registry_auth: false
ceph_container_registry_password: ''
ceph_container_registry_username: ''
cephfs: cephfs
cephfs_data_pool:
    application: cephfs
    name: manila_data
    pg_num: '8'
    rule_name: replicated_rule
cephfs_metadata_pool:
    application: cephfs
    name: manila_metadata
    pg_num: '8'
    rule_name: replicated_rule
cluster_network: 192.168.122.0/24
public_network: 192.168.122.0/24
tripleo_cephadm_ganesha_address_block: 192.168.24.0/24
tripleo_cephadm_monitoring_address_block: 192.168.24.0/24
radosgw_address_block: 192.168.122.0/24
radosgw_frontend_port: 8080
radosgw_keystone: true
radosgw_keystone_ssl: false
tripleo_ceph_client_vars: /home/ceph-admin/ceph_client.yml
tripleo_cephadm_alertmanager_container_image: quay.ceph.io/prometheus/alertmanager:v0.16.2
tripleo_cephadm_ceph_nfs_bind_addr: {{ ceph_node_00 }}
tripleo_cephadm_ceph_nfs_ceph_user: manila
tripleo_cephadm_ceph_nfs_disable_caching: true
tripleo_cephadm_ceph_nfs_dynamic_exports: true
tripleo_cephadm_ceph_nfs_enable_service: false
tripleo_cephadm_ceph_nfs_rados_backend: true
tripleo_cephadm_ceph_nfs_service_suffix: pacemaker
tripleo_cephadm_ceph_nfs_use_pacemaker: true
tripleo_cephadm_cluster: ceph
tripleo_cephadm_container_cli: podman
tripleo_cephadm_container_image: ceph-ci/daemon
tripleo_cephadm_container_ns: quay.ceph.io
tripleo_cephadm_container_tag: v6.0.0-stable-6.0-pacific-centos-8-x86_64
tripleo_cephadm_crush_rules: []
tripleo_cephadm_dashboard_enabled: false
tripleo_cephadm_fsid: 4b5c8c0a-ff60-454b-a1b4-9747aa737d19
tripleo_cephadm_grafana_admin_password: ''
tripleo_cephadm_grafana_admin_user: admin
tripleo_cephadm_grafana_container_image: quay.ceph.io/app-sre/grafana:6.7.4
tripleo_cephadm_grafana_dashboards_path: ''
tripleo_cephadm_grafana_datasource: Dashboard
tripleo_cephadm_grafana_plugins:
- vonage-status-panel
- grafana-piechart-panel
tripleo_cephadm_grafana_port: 3200
tripleo_cephadm_nfs_obj_gw: false
tripleo_cephadm_node_exporter_container_image: quay.ceph.io/prometheus/node-exporter:v0.17.0
tripleo_cephadm_prometheus_container_image: quay.ceph.io/prometheus/prometheus:v2.7.2
tripleo_cephadm_prometheus_port: 9092
tripleo_cephadm_bootstrap_host: ceph-node-00
tripleo_cephadm_first_mon_ip: {{ ceph_node_00 }}
tripleo_cephadm_spec_on_bootstrap: false
tripleo_cephadm_pools: [{'name': 'vms', 'pg_num': '8', 'rule_name': 'replicated_rule', 'application': 'rbd'}, {'name': 'images', 'pg_num': '8', 'rule_name': 'replicated_rule', 'application': 'rbd'}]
tripleo_cephadm_keys: [{'name': 'client.***REMOVED***', 'key': 'AQC+vYNXgDAgAhAAc8UoYt+OTz5uhV7ItLdwUw==', 'mode': '0600', 'caps': {'mgr': 'allow *', 'mon': 'profile rbd', 'osd': 'profile rbd pool=vms, profile rbd pool=images'}}, {'name': 'client.radosgw', 'key': 'AQDLOh1VgEp6FRAAFzT7Zw+Y9V6JJExQAsRnRQ==', 'mode': '0600', 'caps': {'mgr': 'allow *', 'mon': 'allow rw', 'osd': 'allow rwx'}}, {'name': 'client.manila', 'key': 'AQDXrJtgAAAAABAAvY//RcT3sKX2vrrz2DgyMA==', 'mode': '0600', 'caps': {'mgr': 'allow *', 'mon': "allow r, allow command 'auth del', allow command 'auth caps', allow command 'auth get', allow command 'auth get-or-create'", 'mds': 'allow *', 'osd': 'allow rw'}}]
tripleo_cephadm_dashboard_frontend_vip: {{ ceph_node_00 }}
service_net_map: {'ceph_cluster_network': 'ctlplane', 'ceph_dashboard_network': 'ctlplane', 'ceph_grafana_network': 'ctlplane', 'ceph_mon_network': 'ctlplane', 'ceph_rgw_network': 'ctlplane', 'ganesha_network': 'ctlplane', 'haproxy_network': 'ctlplane', 'public_network': 'ctlplane'}
tripleo_enabled_services: ['ceph_client', 'ceph_grafana', 'ceph_mds', 'ceph_mgr', 'ceph_mon', 'ceph_nfs', 'ceph_rgw', 'ceph_osd', 'manila_api']
tripleo_cephadm_fqdn: false
tripleo_cephadm_spec_ansible_host: "/home/ceph-admin/specs/ceph_spec.yaml"
tripleo_cephadm_spec_inventory: "/home/ceph-admin/specs/inventory.yaml"
tripleo_cephadm_internal_tls_enabled: "False"

# Dynamic spec generation
tripleo_cephadm_dynamic_spec: true
tripleo_run_cephadm_spec_path: "/home/ceph-admin/specs/ceph_spec.yaml"
ceph_osd_spec:
  data_devices:
    all: true
ceph_spec_fqdn: false
container_cli: podman
tripleo_cephadm_wait_for_mons: false
