---
local:
  hosts:
    localhost:
      ansible_user: $USER
      ansible_port: $PORT
      ansible_private_key_file: $HOME/.ssh/$KEY
Controller:
  hosts:
    ceph-node-00:
      ansible_user: root
      ansible_host: {{ ceph_node_00 }}
      canonical_hostname: ceph-node-00.cephlab.local
      ctlplane_ip: {{ ceph_node_00 }}
    ceph-node-01:
      ansible_user: root
      ansible_host: {{ ceph_node_01 }}
      canonical_hostname: ceph-node-01.cephlab.local
      ctlplane_ip: {{ ceph_node_01 }}
    ceph-node-02:
      ansible_user: root
      ansible_host: {{ ceph_node_02 }}
      canonical_hostname: ceph-node-02.cephlab.local
      ctlplane_ip: {{ ceph_node_02 }}
CephStorage:
  hosts:
    ceph-node-00:
      ansible_user: root
      ansible_host: {{ ceph_node_00 }}
      canonical_hostname: ceph-node-00.cephlab.local
      ctlplane_ip: {{ ceph_node_00 }}
    ceph-node-01:
      ansible_user: root
      ansible_host: {{ ceph_node_01 }}
      canonical_hostname: ceph-node-01.cephlab.local
      ctlplane_ip: {{ ceph_node_01 }}
    ceph-node-02:
      ansible_user: root
      ansible_host: {{ ceph_node_02 }}
      canonical_hostname: ceph-node-02.cephlab.local
      ctlplane_ip: {{ ceph_node_02 }}
ceph_mon:
  children:
    Controller: {}
ceph_mgr:
  children:
    Controller: {}
ceph_osd:
  children:
    CephStorage: {}
ceph_rgw:
  children:
    Controller: {}
ceph_mds:
  children:
    Controller: {}
ceph_nfs:
  children:
    Controller: {}
overcloud:
  children:
    Controller: {}
    CephStorage: {}
undercloud:
  children:
    local: {}
